<html layout:decorate="~{layout}">
<div layout:fragment="content">
   <form action="/article/create" method="post">
        <fieldset>
            <label>
                상품명
                <input
                        name="Product name"
                        placeholder="제품명을 입력하세요"
                        autocomplete="Product name"
                />
            </label>
            <label>
                상품 내용
                <input
                        type="Product contents"
                        name="Product contents"
                        placeholder="제품 내용을 입력하세요"
                        autocomplete="Product contents"
                />
            </label>
            <label>
                상품 가격
                <input
                        type="price"
                        name="price"
                        placeholder="가격을 입력하세요"
                        autocomplete="price"
                />
            </label>
        </fieldset>

        <input
                type="submit"
                value="등록"
        />
    </form>
</div>
</html>