<html layout:decorate="~{layout}">
<div layout:fragment="content">
<article>
    <header th:text="${article.title}"></header>
    <p th:text="${article.content}">Article content</p>
    <span>가격: </span>
    <span th:text="${article.price}"></span>

    <footer>
        <a th:href="@{||}" type="button">찜</a>
        <a th:href="@{||}" type="button">메세지 보내기</a>
        <a th:href="@{|/article/modify/${article.id}|}" type="button">수정</a>
        <a th:href="@{|/article/delete/${article.id}|}" type="button">삭제</a>
    </footer>
</article>
</div>
</html>