<html layout:decorate="~{layout}">
<div layout:fragment="content">
<article>
    <header th:text="${article.title}"></header>
    <p th:text="${article.content}">Article content</p>
    <div>가격</div>
    <footer>
        <button>
            찜
        </button>
        <button>
            메세지 보내기
        </button>
<!--        <button>-->
<!--            수정하기-->
<!--        </button>-->
<!--        <button>-->
<!--            삭제하기-->
<!--        </button>-->
    </footer>
</article>
</div>
</html>