<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <form>
        <fieldset>
            <label>
                상품명
                <input
                        name="Product name"
                        placeholder="Product name"
                        autocomplete="Product name"
                />
            </label>
            <label>
                상품 내용
                <input
                        type="Product contents"
                        name="Product contents"
                        placeholder="Product contents"
                        autocomplete="Product contents"
                />
            </label>
            <label>
                상품 가격
                <input
                        type="price"
                        name="price"
                        placeholder="price"
                        autocomplete="price"
                />
            </label>
        </fieldset>

        <input
                type="submit"
                value="등록"
        />
    </form>
</div>
</html>