<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <form>
        <fieldset>
            <label>
                상품명
                <input
                        name="Product name"
                        placeholder="Product name"
                        autocomplete="Product name"
                />
            </label>
            <label>
                상품 내용
                <input
                        type="Product contents"
                        name="Product contents"
                        placeholder="Product contents"
                        autocomplete="Product contents"
                />
            </label>
            <label>
                시작 가격
                <input
                        type="starting price"
                        name="starting price"
                        placeholder="starting price"
                        autocomplete="starting price"
                />
            </label>
            <label>
                시작 시간
                <input
                        type="start time"
                        name="start time"
                        placeholder="start time"
                        autocomplete="start time"
                />
            </label>
            <label>
                종료 시간
                <input
                        type="End time"
                        name="End time"
                        placeholder="End time"
                        autocomplete="End time"
                />
            </label>
        </fieldset>

        <input
                type="submit"
                value="등록"
        />
    </form>
</div>
</html>