<html layout:decorate="~{layout}">
<div layout:fragment="content">

    <form th:auction="@{/auction/create}" method="post">
        <fieldset>
            <label>
                상품명
                <input
                        name="title"
                        placeholder="상품명을 입력하세요"
                />
            </label>
            <label>
                상품 내용
                <textarea
                        name="content"
                        placeholder="제품 내용을 입력하세요"
                >
                </textarea>
            </label>
            <label>
                시작 가격
                <input
                        type="number"
                        name="price"
                        placeholder="가격을 입력하세요"
                />
            </label>
            <label>
                시작 시간
                <input
                        type="date"
                        name="start_time"
                        placeholder="시작 시간을 입력해주새요"
                />
            </label>
            <label>
                종료 시간
                <input
                        type="date"
                        name="end_time"
                        placeholder="종료 시간을 입력해줏세요"
                />
            </label>
        </fieldset>

        <input
                type="submit"
                value="등록"
        />
    </form>
</div>
</html>