<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <form>
        <fieldset>
            <label>
                상품명
                <input
                        name="Product name"
                        placeholder="상품명을 입력해주세요"
                        autocomplete="Product name"
                />
            </label>
            <label>
                상품 내용
                <input
                        type="Product contents"
                        name="Product contents"
                        placeholder="상품 내용을 입력해주세요"
                        autocomplete="Product contents"
                />
            </label>
            <label>
                시작 가격
                <input
                        type="starting price"
                        name="starting price"
                        placeholder="시작 가격을 입력해줏세요"
                        autocomplete="starting price"
                />
            </label>
            <label>
                시작 시간
                <input
                        type="start time"
                        name="start time"
                        placeholder="시작 시간을 입력해주새요"
                        autocomplete="start time"
                />
            </label>
            <label>
                종료 시간
                <input
                        type="End time"
                        name="End time"
                        placeholder="종료 시간을 입력해줏세요"
                        autocomplete="End time"
                />
            </label>
        </fieldset>

        <input
                type="submit"
                value="등록"
        />
    </form>
</div>
</html>