<html layout:decorate="~{layout}">
    <div layout:fragment="content">
        <div class="grid">
            <div>
                <article>
                    <header>중고 게시판</header>
                    <table>
                        <thead>
                        <tr>
                            <th scope="col">최신 거래글</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="article : ${articleList}">
                            <td><a th:href="@{|/article/detail/${article.id}|}">[[${article.title}]]</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <footer><a href="/article/list">중고게시판 바로가기</a></footer>
                </article>
            </div>
            <div>
                <article>
                    <header>경매 게시판</header>
                    <table>
                        <thead>
                        <tr>
                            <th scope="col">최신 경매글</th>
                        </tr>

                        </thead>
                        <tbody>
                        <tr th:each="auction : ${auctionList}">
                            <td><a th:href="@{|/auction/detail/${auction.id}|}">[[${auction.title}]]</a></td>
                        </tbody>
                    </table>
                    <footer><a href="/auction/list">경매 게시판 바로가기</a></footer>
                </article>
            </div>
        </div>
    </div>
</html>